spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/lms_system}
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:root123}
    driver-class-name: org.postgresql.Driver


  messages:
    basename: messages
    encoding: UTF-8

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true
  servlet:
    multipart:
      max-file-size: 5MB
application:
  image-source: /home/abbos/Documents/temp/storage
  max-image-size: 5000000
  domen: http://localhost:8080
  security:
    jwt:
      secret-key: ${SECRET_KEY:jnfvjnejnvejnvjenvjnnsjncwwndcnwincencjdjnejrvkwjwefwefwegf}
      expiration: ${JWT_EXPIRATION:86400000}



springdoc:
  swagger-ui:
    doc-expansion: none
    default-models-expand-depth: -1
server:
  servlet:
    context-path: /api
git:
  token: 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


